<ion-content class="home" padding>

  <!-- <div class="start" *ngIf="!srcImage" (click)="presentActionSheet()">
    <ion-icon name="camera"></ion-icon>
  </div> -->

  <button class="select-image" block dark outline *ngIf="!srcImage" (click)="presentActionSheet()">
    <ion-icon name="camera"></ion-icon>
  </button>

  <div *ngIf="srcImage" class="image-wrapper">
    <img id="image" src="{{ srcImage }}" />
    <button block dark outline (click)="analyze()">
      <ion-icon name="search"></ion-icon>
      Read
    </button>
    <button block dark outline (click)="restart()">
      <ion-icon name="refresh"></ion-icon>
      Restart
    </button>
  </div>

</ion-content>
